@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (min-width: 1152px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Roboto';
    }
    .all{
        margin-top: 150px;
        margin-left: 400px;
        height: 280px;
    }
    .new_list{
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
    }
    .block{
        width: 408px;
        text-align: center;
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .header{
        background-color: #FFDC40;
        width: 408px ;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    h1{
       margin-top: 20px;
    }
    .az1{
        opacity: 0.3;
        margin-left: 300px ;
        margin-bottom: -10px;
        transition: opacity 0.3s;
    }
    .az1:hover{
        opacity: 2;
    }
    .az1 img{
        width: 40px;
        height: 20px;
        cursor: pointer;
    }
    .az2{
        display: none;
        opacity: 0.3;
        margin-left: 340px;
        margin-bottom: -10px;
        transition: opacity 0.4s;
    }
    .az2:hover{
        opacity: 2;
    }
    .az2 img {
        width: 40px;
        height: 20px;
        cursor: pointer;
    }
    .content {
        width: 360px;
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        margin: 30px auto;
    }
    .text{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;   
    }
    input{
        border: none;
        font-family: 'Roboto';
        width: 200px;
        font-size: 16px;
        outline: none;
        padding: 10px 0;
    }
    .close{
        width: 20px;
        height: 20px;
        margin-top: 6px;
        margin-left: 60px;
        color: #c4c4c4;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.2s;
        border-radius: 50%;
        border: 1.5px solid #c4c4c4;
    }
    .close:hover{
        opacity: 2;
        background-color: #833AE0;
    }
    button{
        background-color: #833AE0;
        width: 190px;
        height: 56px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        outline: none;
    }
    button:hover{
        background-color: #681fc7;
    }
    .addButton{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    button .plus{
        display: inline-block;
        width: 56px;
        height: 56px;
        background: #9953F1;
        border-radius: 50px; 
        color: #fff;
        margin-left: -135px;
        margin-top: -10px;
        transition: background-color 0.3s;
    }
    button:hover .plus{
        background-color: #9042f0;
    }
    .plus p{
        margin-top: 17px;
        font-size: 20px;
    }
    button .add{
        width: 150px;
        height: 30px;     
        font-size: 20px;
        display: flex;  
        margin-top: -40px;
        padding-left: 70px;
         font-family: 'Roboto';
         color: #FFFFFF;
    }
    #listMain{
        display: flex;
        flex-direction: column;
        width: 270px;
    }
      
    .list{
        display: flex;
    }
    .new_list_words{
        font-size: 16px;
    }
}